<div class="hero bg-base-200 justify-start">
  <div class="hero-content flex-col lg:flex-row ">
    <img
      [src]="country().flagSvg"
      class="max-w-sm rounded-lg shadow-2xl"
    />
    <div>
      <h1 class="text-5xl font-bold">{{country().name}}</h1>
      <div class="stats shadow">
        <div class="stat p-0 mt-2">
          <div class="stat-title">Población</div>
          <div class="stat-value">{{country().population | number}}</div>
        </div>
      </div>
      <div class="stat p-0 mt-2">
        <div class="stat-title">Capital</div>
        <div class="stat-value text-secondary">{{country().capital}}</div>
      </div>
    </div>
  </div>
</div>
